* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 80;
}  /* => メディア対応あり */

.nav-top {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 15vw;
  background-color: #fff;
}

/* .nav-top-left {
} */

/* logoアイコン */
.site-icon {
  height: 7vh;
  width: auto;
  margin-right: 50px;
}
/* //logoアイコン */

.nav-top-right {
  width: 80%;
  display: flex;
  align-items: center;
}

/* 検索バー */
.search-form {
  width: 60%;
  height: 5vh;
  display: flex;
}

.search-form>.input-box {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 14px;
}

.search-button {
  border: 0;
  cursor: pointer;
  background-color: #333333;
  padding: 8px;
}

.search-icon {
  width: 100%;
}
/* //検索バー */

/* ユーザーnav */
.user-nav {
  display: block;
  display: flex;
  min-width: 200px;
  list-style: none;
  align-items: center;
  margin-left: 2vw;
  font-size: 16px;
}

.user-icon--img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: orange;
  border-radius: 100px;
}

.user-nickname {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  margin-right: 2vw;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  color: #333333;
  margin-right: 2vw;
}

.sign-up {  
  text-decoration: none;
  color: #333333;
}
/* //ユーザーnav */


/* ナビゲーション一覧 */
.nav-bottom {
  font-size: 16px;
  background-color: #333333;
  width: 100vw;
  height: 32px;
  padding: 1vh 15vw;
}  /* => メディア対応あり */



.nav-lists {
  display: flex;
  flex-wrap: wrap;
  border-left: 0.5px solid #fff;
}

.nav-list {
  padding: 0 2vw;
  border-right: 0.5px solid #fff;
}  /* => メディア対応あり */

.nav-list-name {
  text-decoration: none;
  color: #fff;
}
/* //ナビゲーション一覧 */


/* メディア対応 */
@media (max-width: 1090px) { 
  .top-page-header {
    height: 112px;
  }
  .nav-bottom {
    height: 64px;
  }
  .nav-list {
    margin: 2px 0;
  }
}