<%= render "shared/header" %>

<div class="back-img-mypage">
  <div class="bkRGBA">
    <div class='main'>


      <div class='mypage-main-contents'>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>
