<%= render "shared/header" %>

<div class="back-img-mypage">
  <div class="bkRGBA">
    <div class='main'>

      <div class='title-contents'>
        <h2 class='service-title'>
          <%= current_user.user_information.nickname %>さんのマイルーム
        </h2>
      </div>

      <div class='mypage-contents'>

        <div class='mypage-side-bar'>
          <ul class='mypage-side-bar-lists'>
            <li class='mypage-side-bar-list'>プロフィール</li>
            <li class='mypage-side-bar-list'>学習状況</li>
            <li class='mypage-side-bar-list'>アウトプット</li>
            <li class='mypage-side-bar-list'>書籍投稿</li>
            <li class='mypage-side-bar-list'>相談投稿</li>
            <li class='mypage-side-bar-list'>イベント参加</li>
            <li class='mypage-side-bar-list'>ブックマーク</li>
            <li class='mypage-side-bar-list'>フォロー</li>
            <li class='mypage-side-bar-list'>フォロワー</li>
          </ul>
        </div>

        <div class='mypage-main-contents-box'>
          <div class='mypage-main-contents'>

          </div>
        </div>
      
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>
