<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>

  <%# ヘッダー① %>
  <div class='nav-top'>
    <div class='nav-top-left'>
      <%= image_tag("skill-up-logo-x.png", class:"site-icon") %>
    </div>
  </div>
  <%# //ヘッダー① %>


</header>