<%= render "shared/header" %>

<div class="back-img-home">
  <div class="bkRGBA">
    <div class='main'>


      <div class='title-contents'>
        <h2 class='service-title'>
          大人のための、スキルアップ空間
        </h2>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>
