// タイトル部 index
.title-contents-flex {
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: flex-start;
  // justify-content: space-between;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.title-contents-left {
  width: 80%;
}

.title-contents-right {
  width: 20%;
  padding-left: 70px;
}

.create-btn-content {
  width: 70%;
}

.create-btn {
  width: 130px;
  padding: 2px 0;
  text-align: center;
  background-color: #ea5506;
  box-shadow:5px 5px 10px #696969;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

// 分類選択
.category-tags-content {
  width: 100vw;
  // height: 10%;
  padding: 1vh 15vw;
}
.category-tags {
  width: 100%;
  height: 100%;
  padding: 2vh 1vw;
  background-color: rgba(255,255,255,0.8);;
  border-radius: 5px;
  font-size: 14px;
}

.category-tags-menu .active {
  font-weight: bold;
  color: #FFF;
  background-color: #EC008C;
}
.category-name {
  display: inline-block;
  margin-bottom: 2px;
  padding: 1px 3px;
  font-size: 14px;
  color: #EC008C;
  border: 1px solid #EC008C;
  border-radius: 3px;
  cursor: pointer;
}


// 投稿一覧 index
.back-img-library {
  width: 100vw;
  height: 800px;
  margin-top: 80px;
  background-image: url("library-am-back-img.jpg");
  background-size: cover;
  background-position: center center;
}

.book-contents-main {
  width: 100%;
  height: 80%;
  display: flex;
  padding: 3vh 15vw;
}

.book-contents {
  display: none;
  height: 100%;
  padding: 0 1vw;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.book-contents-main .show {
  display: flex;
}

.book-content {
  width: 450px;
  min-width: 450px;
  height: 270px;
  min-height: 250px;
  margin: 5px 5px;
  padding: 15px 20px;
  background-color: rgba(255,255,255,0.8);;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #696969;
}

.book-post-user-name{
  height: 10%;
  padding-bottom: 2px;
  font-size: 12px;
}
.book-post-user-name span {
  color: blue;
  text-decoration: underline;
}

.book-category{
  height: 10%;
  padding: 2px;
  display: inline-block;
  font-size: 12px;
  color: #EC008C;
  border: 1px solid #EC008C;
  border-radius: 3px;
}

.book-content-center {
  height: 70%;
  display: flex;
}

.book-content-left {
  width: 25%;
}

.book-content-right {
  width: 75%;
}

.book-img-content {
  width: 100%;
  padding-top: 12px;
}

.book-img {
  width: 80%;
}

.book-title {
  height: 20%;
  padding-top: 8px;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0px 5px 5px -5px #696969;
  font-size: 16px;
  // はみ出た部分は3点リーダー（行数指定）
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-author {
  height: 15%;
  padding-top: 8px;
  border-bottom: 1px solid #d3d3d3;
  font-size: 12px;
  // はみ出た部分は3点リーダー（行数指定）
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-introduction {
  height: 60%;
  padding-top: 10px;
  font-size: 12px;
  // はみ出た部分は3点リーダー（行数指定）
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
}

.read-more {
  height: 10%;
  font-size: 12px;
  color: blue;
  text-align: right;
  text-decoration: underline;
}


// 外部検索、新規登録 new
.bkRGBA-flex {
  width: 100%;
  // height: 100%;
  padding: 0 10vw;
  background-color:rgba(255,255,255,0.5);
  display: flex;
  justify-content: space-around;
}

.book-search-form {
  width: 100%;
  // min-width: 350px;
  // height: 750px;
  display: flex;
  justify-content: space-around;
}

.book-search-form-left {
  width: 35%;
}

.book-search-form-right {
  width: 50%;
}
// 外部検索
.book-registration-sub {
  width: 100%;
  padding-top: 5vh;
  display: flex;
  justify-content: center;
}
.book-registration-form {
  height: 100%;
}

.book-form-wrap-search {
  width: 100%;
  background-color: white;
  background-color:rgba(255,255,255,0.8);
  border-radius: 5px;
  padding: 20px 0 70px 0;
}

.book-search-btn {
  width: 100%;
  background: #233B6C;
  border: none;
  border-radius: 5px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.search-results {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.search-result {
  margin-top: 10px;
  padding: 2px 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
}

.book-form-wrap {
  height: 90%;
  overflow-y: scroll;
}

.input-default-image {
  margin-top: 5px;
  font-size: 12px;
}

.input-default#book_introduction {
  height: 150px;
  padding-top: 5px;
}


/* メディア対応 */
@media (max-width: 1090px) { 
  .back-img-library {
    margin-top: 112px;
  }
  .book-contents {
    flex-direction: column;
    justify-content: start;
  }
  .bkRGBA-flex {
    margin-top: 112px;
    flex-direction: column;
    padding: 0 25vw;
    // justify-content: center;
    overflow-y: scroll;
  }
}