a {
  text-decoration: none;
}

.back-img-home {
  height: 100%;
  width: 100vw;
  margin-top: 80px;
  background-image: url("study-room-am-back-img.jpg");
  background-size: cover;
  background-position: center center;
}

.bkRGBA {
  height: 100%;
  width: 100%;
  background-color:rgba(255,255,255,0.5);
  display: flex;
  justify-content: center;
}

.main {
  height: 800px;
}

.title-contents {
  width: 100vw;
  // background-image: image-url('furima-header01.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 5vh;
}


/* メディア対応 */
@media (max-width: 1090px) { 
  .back-img-home {
    margin-top: 112px;
  }
}